* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    margin: 0 32px;
    display: flex;
}
.slider{
    background-color: chartreuse;
   width: 300px;
}
.content {
    flex: 1;
    
}
.item {
    margin-top: 16px;
    text-align: center;
    background-color: orange;
    font-size: 30px;
    color: white;
    min-height: 180px;
    line-height: 180px;

}
@media only screen and (max-width:739px )
{
    .hide-mobiel {
       display: none;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .none {
        display: none;
    }
}
