* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}
article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

.nav-btn-bars{
    display: none;
    width: 24px;
    height: 24px;
    color: white;
    margin-left: 15px;
} 
.nav-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: faceIn linear 0.2s;
}
.nav__mobiel {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #098660;
    transform: translateX(-100%);
    opacity: 0;
    
    transition: transform linear 0.2s , opacity linear 0.2s;
}
.nav__mobiel-list {
    margin-top: 50px;
}
.nav__mobiel-link {
    display: block;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    color: black;
}
.nav-mobiel-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin-top: 15px;
    margin-right: 15px;
}
.nav-input:checked ~ .nav-overlay {
    display: block;
}
.nav-input:checked ~ .nav__mobiel {
    transform: translateX(0%);
    opacity: 1;
}
/* ---------- */
.subnav__mobiel-link {
    display: none;
}
.subnav__mobiel-link .subnav__mobile_li {
   font-size: 17px;
   padding: 10px;
}
.nav li:hover .subnav__mobiel-link {
    display: block;
}
.nav .subnav__mobile_link li:hover {
    color: black;
    background-color: cadetblue;

}
.subnav__mobiel-link li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}
/* ------- */
@media (max-width:1023px) {
    .nav__pc {
        display: none;
    }
    .nav-btn-bars{
        display: block;
    }
}
@keyframes faceIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}